<% include index-head.html %>

<div class="py-container goods-all">

    <h4 class="all">
        全部商品
        <span><%=arr.length %></span>
    </h4>

    <table cellspacing="0" cellpadding="0" border="0" width="100%">
<!--表头-->
        <thead>
        <tr>
            <th width="10%">
                <input id="toggle-all" type="checkbox" >
            </th>
            <th width="35%">商品</th>
            <th width="10%">单价（元）</th>
            <th width="10%">数量</th>
            <th width="10%">小计（元）</th>
            <th width="10%">操作</th>
        </tr>
        </thead>
        <tbody>
<!--每项商品-->
<%for(var i=0;i< arr.length ; i++) {%>
        <tr data-id="1" class="toggle-row">
            <!--复选框-->
            <td>
                <input data-id="1" class="choice " type="checkbox"  name='chkBulletin'>
            </td>
            <!--商品图片与标题-->
            <td>
                <div class="good-item ">
                    <!--图片-->
                    <div class="item-img">
                        <img src="<%= arr[i].img%>">
                    </div>
                    <!--标题-->
                    <div class="item-msg" id="item-msg"><%= arr[i].attr%></div>
                    <!--选中的信息-->
                    <div class="item-chose" ><%= arr[i].item_arry%></div>
                </div>
            </td>
            <!--价格-->
            <td>
                <span class="price"><%= arr[i].pice%></span>
            </td>
            <!--加减与数量-->
            <td>

                <div class="clearfix have">
                    <div>
                        <a  class="increment mins ">-</a>
                        <input autocomplete="off" type="text" value="<%= arr[i].number%>" minnum="1" class="itxt">
                        <a  class="increment plus ">+</a>
                    </div>
                    <%if( 0< arr[i].kucun ) {%>
                    <div class="youhuo">有货</div>
                    <% }else { %>
                    <div class="youhuo">缺货</div>
                    <%}%>
                </div>
            </td>
            <!--小计-->
            <td><span class="sum"><%=(arr[i].number*arr[i].pice) %></span></td>
            <!--删除与关注-->
            <td>
                <div>
                    <a class="delGood" data-id="1" href="#">删除</a>
                </div>
                <div><a>移到我的关注</a></div>
            </td>
        </tr>
        <%}%>
        </tbody>
    </table>

    <div id="footerSelect" class="cart-tool clearfix">
        <!--删除选中-->
        <div class="cart-tool-left clearfix fl">
            <a id="delAllBtn" href="#" >删除选中的商品</a>
        </div>
        <!--统计-->
        <div class="money-box">
            <div class="sumprice">
                <div class="sumprice-top">
                    <span>
                        已选择
                        <strong id="totalNum">0</strong> 件商品
                    </span>
                    <span>
                        <em>总价（不含运费）：</em>
                        <i id="totalPrice" class="summoney">0</i>
                    </span>
                </div>
            </div>
            <div class="sumbtn">
                <a class="sum-btn" href="#">结算</a>
            </div>
        </div>
    </div>

</div>
<script src="javascripts/cart_data.js"></script>

<% include index-footer.html %>